<!doctype html>
<html lang="en" ng-app="TodoList">
  <head>
    <meta charset="utf-8">
    <title>Todo List Challenge</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoListController.js"></script>

  </head>

  <body ng-controller="TodoListController as todoCtrl">
    <br>
    <div class="center">
      <form class="form-horizontal" name="frm" ng-submit="todoCtrl.addTodo(todolCtrl.newTodo)">
        <input type="text" name="newTodo" ng-model="todolCtrl.newTodo" required/>
        <br>
        <button class="btn btn-success btn-xs"  ng-click="todolCtrl.addTodo(todolCtrl.newTodo)" ng-disabled="frm.$invalid">Add Todo</button>
      </form>
      <br>
      <ul ng-repeat="list in todoCtrl.todos">
        <li>
            <input type="checkbox" ng-model="list.done"/>
            <span ng-class="{'done': list.done}">{{list.title}}</span>
        </li>
      </ul>
      <!-- <ul class="list-group">
        <li class="list-group-item">
          <img src="https://avatars.githubusercontent.com/u/469160?v=3&s=50">
          <a href="https://github.com/antonydenyer">antonydenyer</a>
        </li>
        <li class="list-group-item">
          <img src="https://avatars.githubusercontent.com/u/30216?v=3&s=50">
          <a href="https://github.com/tansaku">tansaku</a>
        </li> -->

      </ul>
    </div>
  </body>
</html>
